<% layout('layout') -%>

<% if(user === undefined) { %>
<section class="logins">
  <h2 class="log">Login</h2>
  <a href="/users/new" class="sign-up btn btn-default">Sign Up</a>
  <a href="/sessions/new" class="sign-in btn btn-default">Sign In</a>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">

<% } else { %>
<section class="logins">
  <h2 class="log">Logout</h2>
  <form class="logout" method="post" action="/sessions/delete">
    <button class="sign-out btn btn-default">Sign out</button>
  </form>
</section>

<section id="write-peep">
  <h3>Hello <%= user.username %></h3>
  <form method="post" action="/post-peep">
    <input type="text" name="content" placeholder="Type your peep">
    <button class="post-peep btn btn-default">Post peep</button>
  </form>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">
<% } %>

<section id="peeps">
  <% if(user !== undefined) { %>
    <% if(params) { %>
      <h3 class="peep-user"><%= params %>'s Peeps</h3>
    <% } %>
  <% } %>
  <ul class="peeps-list">
    <% if(peeps) { %>
      <% peeps.forEach(function(entry){ %>
        <li class="list-group-item list-group-item-info">
          <% if(user !== undefined) { %>
            <a href="comments/<%= entry.id %>" class="peep">
          <% } %>
          <%= entry.content %></a> <% if(user !== undefined) { %><a href="/users/<%= entry.username %>" ><% } %><span class="username"><%= entry.username %></span><% { %></a><% } %> <%= timeago(entry.date_added) %>
          <ul class="comments-list">
            <% if(comments) { %>
              <% comments.forEach(function(comment){ %>
                <% if(comment.peep_id === entry.id) { %>
                  <li class="list-group-item list-group-item-info"><%= comment.comment %> <span class="username"><%= comment.username %></span> <%= timeago(comment.date_added) %></li>
                <% } %>
              <% })%>
            <% } %>
          </ul>
        </li>
      <% }) %>
    <% } %>
  </ul>
</section>