<% layout('layout') -%>

<% if(user === undefined) { %>
<section class="logins">
  <h2 class="log">Login</h2>
  <a href="/users/new" class="sign-up btn btn-default">Sign Up</a>
  <a href="/sessions/new" class="sign-in btn btn-default">Sign In</a>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">

<% } else { %>
<section class="logins">
  <h2 class="log">Logout</h2>
  <form class="logout" method="post" action="/sessions/delete">
    <button class="sign-out btn btn-default">Sign out</button>
  </form>
</section>

<section id="write-peep">
  <h3>Hello <%= user.username %></h3>
  <form method="post" action="/post-peep">
    <input type="text" name="content" placeholder="Type your peep">
    <button class="post-peep btn btn-default">Post peep</button>
  </form>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">
<% } %>

<section id="peeps">
  <% if(user !== undefined) { %>
    <% if(params) { %>
      <h3 class="peep-user"><%= params %>'s Peeps</h3>
    <% } %>
  <% } %>
  <ul class="peeps-list">
    <% if(peeps) { %>

      <% peeps.forEach(function(entry){ %>

      <li class="list-group-item list-group-item-info">
        <% if(user !== undefined) { %>
          <a href="#myModal" data-toggle="modal" data-target="#myModal" class="peep">
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Reply to &#64;<%=entry.username %></h4>
                </div>
                <form class="send-comment" method="post" action="/comment">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="message-text" class="control-label">Write a comment.</label>
                      <textarea name="comment" class="form-control" id="message-text"></textarea>
                      <textarea class="peepid" name="peepid"><%= entry.id%></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" class="send btn btn-primary" value="Send">
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>
        <%= entry.content %></a> <% if(user !== undefined) { %><a href="/users/<%= entry.username %>" ><% } %><span class="username"><%= entry.username %></span><% { %></a><% } %> <%= timeago(entry.date_added) %>
      </li>

      <% }) %>

    <% } %>
  </ul>

</section>
<script type="text/javascript">
  $('.send').on('click', function(){
    $('.send-comment').submit();
  });
</script>