<% layout('layout') -%>

<% if(user === undefined) { %>
<section class="logins">
  <h2>Login</h2>
  <a href="/users/new" class="sign-up btn btn-default">Sign Up</a>
  <a href="/sessions/new" class="sign-in btn btn-default">Sign In</a>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">

<% } else { %>
<section class="logins">
  <h2>Logout</h2>
  <form class="logout" method="post" action="/sessions/delete">
    <button class="sign-out btn btn-default">Sign out</button>
  </form>
</section>

<section id="write-peep">
  <h3>Hello <%= user.username %></h3>
  <form method="post" action="/post-peep">
    <input type="text" name="content" placeholder="Type your peep">
    <button class="post-peep btn btn-default">Post peep</button>
  </form>
</section>
<img width="150" class="home-bird" src="../images/bird.png" alt="Bird">
<% } %>

<section id="peeps">
  <ul>
  <% if(user !==undefined) { %>
    <% if(params) { %>
      <h3 class="peep-user"><%= params %>'s Peeps</h3>
    <% } %>
  <% } %>
    <% if(peeps) { %>
      <% for(i = 0; i < peeps.length; i ++) { %>
      <li class="list-group-item list-group-item-info">
      <a href="#" data-toggle="modal" data-target="#myModal" class="peep">

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Write a comment.</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
<%= peeps[i].content %></a> <% if(user !== undefined) { %><a href="/users/<%= peeps[i].username %>" ><% } %><span class="username"><%= peeps[i].username %></span><% { %></a><% } %> <%= timeago(peeps[i].date_added) %></li>
      <% } %>
    <% } %>
  </ul>
  </section>